<a href="https://colab.research.google.com/github/nesredingebeyehu15-dot/My-AI-Engineering-Journey/blob/main/Module-02-Data-Science-Foundations/Day-20_and_21-Pandas-Creating-Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

employee_data = {
    "name": ["Ali", "Fatuma", "Dawit"],
    "hours_worked": [40, 45, 38],
    "rate_per_hour": [10, 12, 10] # in USD
}
employees_df = pd.DataFrame(employee_data)

print("--- 1. Original Employee Data ---")
print(employees_df)

# --- 2. Calculate Gross Salary (Correction: Use Multiplication *) ---
employees_df['gross_salary'] = employees_df['hours_worked'] * employees_df['rate_per_hour']

print("\n--- 2. DataFrame with Gross Salary ---")
print(employees_df)

# --- 3. Calculate Tax ---
employees_df['tax'] = employees_df['gross_salary'] * 0.15

print("\n--- 3. DataFrame with Tax ---")
print(employees_df)

# --- 4. Calculate Net Salary ---
employees_df['net_salary'] = employees_df['gross_salary'] - employees_df['tax']

print("\n--- 4. Final DataFrame with Net Salary ---")
print(employees_df)

--- 1. Original Employee Data ---
     name  hours_worked  rate_per_hour
0     Ali            40             10
1  Fatuma            45             12
2   Dawit            38             10

--- 2. DataFrame with Gross Salary ---
     name  hours_worked  rate_per_hour  gross_salary
0     Ali            40             10           400
1  Fatuma            45             12           540
2   Dawit            38             10           380

--- 3. DataFrame with Tax ---
     name  hours_worked  rate_per_hour  gross_salary   tax
0     Ali            40             10           400  60.0
1  Fatuma            45             12           540  81.0
2   Dawit            38             10           380  57.0

--- 4. Final DataFrame with Net Salary ---
     name  hours_worked  rate_per_hour  gross_salary   tax  net_salary
0     Ali            40             10           400  60.0       340.0
1  Fatuma            45             12           540  81.0       459.0
2   Dawit            38             10           380  57.0       323.0